@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Prompt', cursive;
}

.inverter{
  transform: rotateY(180deg);
}

.glass{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.078), rgba(0, 0, 0, 0.127));
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.245);
}

.Radial{
  background: radial-gradient(rgb(60, 60, 1),rgb(87, 1, 115), rgb(0, 68, 70));
}
